allow aprd hal_graphics_allocator_default:dir { getattr search open read };
allow aprd hal_graphics_allocator_default:file { read getattr open };
allow aprd hal_xtensa_default:file { read open getattr };
allow aprd hal_xtensa_default:dir { search  };

allow aprd adbd:file { read };

allow aprd ashmemd:file { read };
allow aprd audioserver:file { read };
allow aprd bootanim:file { read };
allow aprd cameraserver:file { read };
allow aprd ext_data:file { read };
allow aprd gatekeeperd:file { getattr };
allow aprd gpsd:file { read };
allow aprd gpuservice:file { read };
#allow aprd hal_allocator_default:dir { search };
allow aprd hal_audio_default:dir { search };
allow aprd hal_bluetooth_default:dir { search };
allow aprd hal_broadcastradio_ext:file { read };
allow aprd hal_cas_default:file { read };
allow aprd hal_configstore_default:file { read };
allow aprd hal_connmgr_default:file { read };
allow aprd hal_cplog_connmgr_default:file { read };
allow aprd hal_drm_clearkey:file { read };
allow aprd hal_drm_default:file { read };
allow aprd hal_drm_widevine:file { read };
allow aprd hal_enhance_default:file { read };
allow aprd hal_fingerprint_default:file { read };
allow aprd hal_fingerprintmmi_default:file { read };
allow aprd hal_gatekeeper_default:file { read };
allow aprd hal_gnss_ext_default:file { read };
allow aprd hal_graphics_composer_default:file { read };
allow aprd hal_health_default:file { read };
allow aprd hal_keymaster_default:dir { search };
allow aprd hal_light_default:file { read };
allow aprd hal_log_default:file { read };
allow aprd hal_memtrack_default:file { read };
allow aprd hal_power_stats_default:file { read };
allow aprd hal_thermal_default:file { read };
allow aprd hal_thermal_ext:file { read };
allow aprd hal_usb_default:file { read };
allow aprd hal_vibrator_default:file { read };
allow aprd hal_wifi_default:file { read };
allow aprd hwservicemanager:dir { search };
allow aprd idmap:file { read };
allow aprd incidentd:file { read };
allow aprd installd:file { read };
allow aprd keystore:file { read };
allow aprd lmkd:file { getattr };
allow aprd mediacodec:file { read };
allow aprd mediaextractor:file { read };
allow aprd mediametrics:file { read };
allow aprd modem_control:file { read };
allow aprd modemlog_connmgr_service:file { read };
allow aprd netbox:file { read };
allow aprd netd:file { open };
allow aprd performancemanager:file { read };
allow aprd phasecheckserver:file { read };
allow aprd rild:file { read };
allow aprd slogmodem:file { read };
allow aprd slogmodem_vendor:file { read };
allow aprd statsd:file { read };
allow aprd surfaceflinger:file { getattr };
allow aprd system_server:file { getattr };
#allow aprd system_suspend:file { read };
allow aprd thermald:file { read };
allow aprd tombstoned:file { read };
allow aprd vdspserver:file { read };
allow aprd vendor_init:dir { search };
allow aprd vndservicemanager:file { open };
allow aprd wificond:file { read };
allow aprd ylog:file { getattr };
allow aprd ylog_lite:file { read };
allow aprd zygote:dir { search };



