allow crash_dump hwservicemanager_prop:file { map };
allow crash_dump hwservicemanager_prop:file { open };
allow crash_dump hwservicemanager_prop:file { getattr };
allow hal_memtrack_default debugfs_driver_stats:file { open };
allow hal_memtrack_default debugfs_driver_stats:file { getattr };
#allow hal_memtrack_default debugfs:file { read };
#allow hal_memtrack_default debugfs:file { open };
allow hal_memtrack_default debugfs:file { getattr };
allow crash_dump resourcecache_data_file:file { read };
allow crash_dump resourcecache_data_file:file { open };
allow crash_dump resourcecache_data_file:file { getattr };
#allow crash_dump vendor_overlay_file:file { read };
#allow crash_dump vendor_overlay_file:file { map };
#allow crash_dump vendor_overlay_file:file { getattr };
allow crash_dump resourcecache_data_file:file { map };
allow crash_dump media_prop:file { map };
allow crash_dump media_prop:file { getattr };
allow crash_dump device_config_runtime_native_boot_prop:file { map };
allow crash_dump device_config_runtime_native_boot_prop:file { getattr };
allow crash_dump bluetooth_data_file:file { map };
allow crash_dump bluetooth_data_file:file { getattr };
allow crash_dump runtime_event_log_tags_file:file { getattr };
allow crash_dump media_prop:file { open };
allow crash_dump device_config_runtime_native_boot_prop:file { open };
allow crash_dump bluetooth_data_file:file { read };
allow crash_dump bluetooth_data_file:file { open };
allow crash_dump bluetooth_a2dp_offload_prop:file { open };
allow crash_dump bluetooth_a2dp_offload_prop:file { map };
allow crash_dump bluetooth_a2dp_offload_prop:file { getattr };
#allow crash_dump vendor_overlay_file:file { open };
allow crash_dump bluetooth_prop:file { open };
allow crash_dump bluetooth_prop:file { getattr };
allow crash_dump device_config_runtime_native_prop:file { open };
allow crash_dump device_config_runtime_native_prop:file { map };
allow crash_dump device_config_runtime_native_prop:file { getattr };
allow crash_dump bluetooth_prop:file { map };
allow crash_dump vendor_sys_prop:file { map };
allow crash_dump vendor_sys_prop:file { getattr };
allow crash_dump exported_bluetooth_prop:file { open };
allow crash_dump exported_bluetooth_prop:file { getattr };
allow crash_dump vendor_sys_prop:file { open };
allow crash_dump exported_bluetooth_prop:file { map };
allow hal_bluetooth_default vendor_sys_prop:file { open };
allow hal_bluetooth_default vendor_sys_prop:file { map };
allow hal_bluetooth_default vendor_sys_prop:file { getattr };
#allow hal_bluetooth_default default_prop:file { map };
#allow hal_bluetooth_default default_prop:file { getattr };
#allow hal_bluetooth_default default_prop:file { read };
#allow hal_bluetooth_default default_prop:file { open };
allow system_server crash_dump:process { getpgid };
allow hal_bluetooth_default vendor_sys_prop:file { open };
allow hal_bluetooth_default vendor_sys_prop:file { map };
allow hal_bluetooth_default vendor_sys_prop:file { getattr };
#allow hal_bluetooth_default default_prop:file { read };
#allow hal_bluetooth_default default_prop:file { open };
#allow hal_bluetooth_default default_prop:file { map };
#allow hal_bluetooth_default default_prop:file { getattr };
allow aprd netd:file { getattr };
allow aprd hal_drm_default:file { open };
allow aprd hal_drm_default:file { getattr };
allow ylog vendor_whale2_afbc_prop:file { open };
allow ylog vendor_whale2_afbc_prop:file { map };
allow ylog vendor_whale2_afbc_prop:file { getattr };
allow ylog vendor_vsp_fbc_prop:file { open };
allow ylog vendor_vsp_fbc_prop:file { map };
allow ylog vendor_vsp_fbc_prop:file { getattr };
allow ylog vendor_sf_prop:file { open };
allow ylog vendor_sf_prop:file { map };
allow ylog vendor_sf_prop:file { getattr };
allow ylog vendor_sf_fbc_prop:file { open };
allow ylog vendor_sf_fbc_prop:file { map };
allow ylog vendor_sf_fbc_prop:file { getattr };
allow ylog vendor_npu_prop:file { open };
allow ylog vendor_npu_prop:file { map };
allow ylog vendor_npu_prop:file { getattr };
allow ylog vendor_hwc_prop:file { open };
allow ylog vendor_hwc_prop:file { map };
allow ylog vendor_hwc_prop:file { getattr };
allow ylog vendor_gpu_prop:file { open };
allow ylog vendor_gpu_prop:file { map };
allow ylog vendor_gpu_prop:file { getattr };
allow ylog vendor_gpu_fbc_prop:file { open };
allow ylog vendor_gpu_fbc_prop:file { map };
allow ylog vendor_gpu_fbc_prop:file { getattr };
allow ylog theme_prop:file { open };
allow ylog theme_prop:file { map };
allow ylog theme_prop:file { getattr };
#allow ylog serialno_prop:file { open };
#allow ylog serialno_prop:file { map };
#allow ylog serialno_prop:file { getattr };
#allow ylog netd_stable_secret_prop:file { open };
#allow ylog netd_stable_secret_prop:file { map };
#allow ylog netd_stable_secret_prop:file { getattr };
#allow ylog last_boot_reason_prop:file { open };
#allow ylog last_boot_reason_prop:file { map };
#allow ylog last_boot_reason_prop:file { getattr };
#allow ylog firstboot_prop:file { open };
#allow ylog firstboot_prop:file { map };
#allow ylog firstboot_prop:file { getattr };
#allow ylog bootloader_boot_reason_prop:file { open };
#allow ylog bootloader_boot_reason_prop:file { map };
#allow ylog bootloader_boot_reason_prop:file { getattr };
allow aprd zygote:file { open };
allow aprd zygote:file { getattr };
allow aprd ylog_lite:dir { search };
allow aprd ylog_lite:file { open };
allow aprd ylog_lite:file { getattr };
allow aprd mlogservice:file { read };
allow aprd hal_wifi_default:dir { search };
allow aprd hal_wifi_default:file { open };
allow aprd hal_wifi_default:file { getattr };
allow aprd hal_vibrator_default:dir { search };
allow aprd hal_vibrator_default:file { open };
allow aprd hal_vibrator_default:file { getattr };
allow aprd hal_usb_default:dir { search };
allow aprd hal_usb_default:file { open };
allow aprd hal_usb_default:file { getattr };
allow aprd hal_thermal_default:dir { search };
allow aprd hal_thermal_default:file { open };
allow aprd hal_thermal_default:file { getattr };
allow aprd hal_sensors_default:dir { search };
allow aprd hal_sensors_default:file { read };
allow aprd hal_sensors_default:file { open };
allow aprd hal_sensors_default:file { getattr };
allow aprd hal_power_stats_default:dir { search };
allow aprd hal_power_stats_default:file { open };
allow aprd hal_power_stats_default:file { getattr };
allow aprd hal_memtrack_default:dir { search };
allow aprd hal_memtrack_default:file { open };
allow aprd hal_memtrack_default:file { getattr };
allow aprd hal_light_default:dir { search };
allow aprd hal_light_default:file { open };
allow aprd hal_light_default:file { getattr };
allow aprd hal_imgnna_default:file { read };
allow aprd hal_health_default:dir { search };
allow aprd hal_health_default:file { open };
allow aprd hal_health_default:file { getattr };
allow aprd hal_graphics_composer_default:dir { search };
allow aprd hal_graphics_composer_default:file { open };
allow aprd hal_graphics_composer_default:file { getattr };
allow aprd hal_gatekeeper_default:dir { search };
allow aprd hal_gatekeeper_default:file { open };
allow aprd hal_gatekeeper_default:file { getattr };
allow aprd hal_drm_widevine:dir { search };
allow aprd hal_drm_widevine:file { open };
allow aprd hal_drm_widevine:file { getattr };
allow aprd hal_drm_default:dir { search };
allow aprd hal_drm_clearkey:dir { search };
allow aprd hal_drm_clearkey:file { open };
allow aprd hal_drm_clearkey:file { getattr };
allow aprd hal_connmgr_default:dir { search };
allow aprd hal_connmgr_default:file { open };
allow aprd hal_connmgr_default:file { getattr };
allow aprd hal_configstore_default:dir { search };
allow aprd hal_configstore_default:file { open };
allow aprd hal_configstore_default:file { getattr };
allow aprd hal_cas_default:dir { search };
allow aprd hal_cas_default:file { open };
allow aprd hal_cas_default:file { getattr };
allow aprd hal_broadcastradio_ext:dir { search };
allow aprd hal_broadcastradio_ext:file { open };
allow aprd hal_broadcastradio_ext:file { getattr };
#allow ylog_lite ylog_file:fifo_file { write };
#allow ylog_lite ylog_file:fifo_file { open };
allow ylog mmcblk_device:blk_file { read };
allow ylog mmcblk_device:blk_file { open };
#allow vendor_init [ro.modem.l.vbc]:property_service { set };
#allow vendor_init bluetooth_prop:property_service { set };
#allow untrusted_app_27 proc_vmstat:file { open };
allow untrusted_app_27 proc_vmstat:file { getattr };
allow system_server vendor_engpc_prop:file { open };
allow system_server vendor_engpc_prop:file { map };
allow system_server vendor_engpc_prop:file { getattr };
#allow system_server sysfs:file { read };
#allow system_server sysfs:file { open };
allow system_server sysfs:file { getattr };
#allow sprd_radio_app gpu_service:service_manager { find };
allow sprd_radio_app autofill_service:service_manager { find };
allow sprd_engineerinternal_app system_app_data_file:dir { setattr };
#allow sprd_engineerinternal_app serialno_prop:file { open };
#allow sprd_engineerinternal_app serialno_prop:file { map };
#allow sprd_engineerinternal_app serialno_prop:file { getattr };
allow sprd_autoslt_app system_app_data_file:dir { write };
allow sprd_autoslt_app system_app_data_file:dir { setattr };
allow sprd_autoslt_app system_app_data_file:dir { search };
allow sprd_autoslt_app system_app_data_file:dir { getattr };
allow sprd_autoslt_app system_app_data_file:dir { create };
allow sprd_autoslt_app system_app_data_file:dir { add_name };
#allow slogmodem vendor_sys_prop:property_service { set };
allow modem_control modem_control:netlink_kobject_uevent_socket { getopt };
#allow kernel kernel:capability { dac_read_search };
#allow kernel kernel:capability { dac_read_search };
#allow kernel device:blk_file { setattr };
#allow kernel device:blk_file { create };
allow init ylogbuffer_device:chr_file { open };
#allow hal_wifi_default vendor_default_prop:property_service { set };
allow flags_health_check vendor_wcnd_prop:file { open };
allow flags_health_check vendor_wcnd_prop:file { map };
allow flags_health_check vendor_wcnd_prop:file { getattr };
allow flags_health_check vendor_vsp_fbc_prop:file { open };
allow flags_health_check vendor_vsp_fbc_prop:file { map };
allow flags_health_check vendor_vsp_fbc_prop:file { getattr };
allow flags_health_check vendor_video_prop:file { open };
allow flags_health_check vendor_video_prop:file { map };
allow flags_health_check vendor_video_prop:file { getattr };
allow flags_health_check vendor_thermald_prop:file { open };
allow flags_health_check vendor_thermald_prop:file { map };
allow flags_health_check vendor_thermald_prop:file { getattr };
allow flags_health_check vendor_systemdebuggerd_prop:file { open };
allow flags_health_check vendor_systemdebuggerd_prop:file { map };
allow flags_health_check vendor_systemdebuggerd_prop:file { getattr };
allow flags_health_check vendor_sys_prop:file { open };
allow flags_health_check vendor_sys_prop:file { map };
allow flags_health_check vendor_sys_prop:file { getattr };
allow flags_health_check vendor_sf_prop:file { open };
allow flags_health_check vendor_sf_prop:file { map };
allow flags_health_check vendor_sf_prop:file { getattr };
allow flags_health_check vendor_sf_fbc_prop:file { open };
allow flags_health_check vendor_sf_fbc_prop:file { map };
allow flags_health_check vendor_sf_fbc_prop:file { getattr };
allow flags_health_check vendor_security_patch_level_prop:file { open };
allow flags_health_check vendor_security_patch_level_prop:file { map };
allow flags_health_check vendor_security_patch_level_prop:file { getattr };
allow flags_health_check vendor_radio_prop:file { open };
allow flags_health_check vendor_radio_prop:file { map };
allow flags_health_check vendor_radio_prop:file { getattr };
allow flags_health_check vendor_product_prop:file { open };
allow flags_health_check vendor_product_prop:file { map };
allow flags_health_check vendor_product_prop:file { getattr };
allow flags_health_check vendor_power_prop:file { open };
allow flags_health_check vendor_power_prop:file { map };
allow flags_health_check vendor_power_prop:file { getattr };
allow flags_health_check vendor_npu_prop:file { open };
allow flags_health_check vendor_npu_prop:file { map };
allow flags_health_check vendor_npu_prop:file { getattr };
allow flags_health_check vendor_modem_prop:file { open };
allow flags_health_check vendor_modem_prop:file { map };
allow flags_health_check vendor_modem_prop:file { getattr };
allow flags_health_check vendor_hwui_prop:file { open };
allow flags_health_check vendor_hwui_prop:file { map };
allow flags_health_check vendor_hwui_prop:file { getattr };
allow flags_health_check vendor_hwc_prop:file { open };
allow flags_health_check vendor_hwc_prop:file { map };
allow flags_health_check vendor_hwc_prop:file { getattr };
allow flags_health_check vendor_gpu_prop:file { open };
allow flags_health_check vendor_gpu_prop:file { map };
allow flags_health_check vendor_gpu_prop:file { getattr };
allow flags_health_check vendor_gpu_fbc_prop:file { open };
allow flags_health_check vendor_gpu_fbc_prop:file { map };
allow flags_health_check vendor_gpu_fbc_prop:file { getattr };
allow flags_health_check vendor_faceid_prop:file { open };
allow flags_health_check vendor_faceid_prop:file { map };
allow flags_health_check vendor_faceid_prop:file { getattr };
allow flags_health_check vendor_engpc_prop:file { open };
allow flags_health_check vendor_engpc_prop:file { map };
allow flags_health_check vendor_engpc_prop:file { getattr };
allow flags_health_check vendor_eng_prop:file { open };
allow flags_health_check vendor_eng_prop:file { map };
allow flags_health_check vendor_eng_prop:file { getattr };
allow flags_health_check vendor_default_prop:file { open };
allow flags_health_check vendor_default_prop:file { map };
allow flags_health_check vendor_default_prop:file { getattr };
allow flags_health_check net_dns_prop:file { open };
allow flags_health_check net_dns_prop:file { map };
allow flags_health_check net_dns_prop:file { getattr };
allow flags_health_check mmc_prop:file { open };
allow flags_health_check mmc_prop:file { map };
allow flags_health_check mmc_prop:file { getattr };
allow flags_health_check media_prop:file { open };
allow flags_health_check media_prop:file { map };
allow flags_health_check media_prop:file { getattr };
allow flags_health_check lpdumpd_prop:file { open };
allow flags_health_check lpdumpd_prop:file { map };
allow flags_health_check lpdumpd_prop:file { getattr };
allow flags_health_check lowpan_prop:file { open };
allow flags_health_check lowpan_prop:file { map };
allow flags_health_check lowpan_prop:file { getattr };
allow flags_health_check logpersistd_logging_prop:file { open };
allow flags_health_check logpersistd_logging_prop:file { map };
allow flags_health_check logpersistd_logging_prop:file { getattr };
allow flags_health_check llkd_prop:file { open };
allow flags_health_check llkd_prop:file { map };
allow flags_health_check llkd_prop:file { getattr };
#allow flags_health_check last_boot_reason_prop:file { open };
#allow flags_health_check last_boot_reason_prop:file { map };
#allow flags_health_check last_boot_reason_prop:file { getattr };
allow flags_health_check hwservicemanager_prop:file { open };
allow flags_health_check hwservicemanager_prop:file { map };
allow flags_health_check hwservicemanager_prop:file { getattr };
allow flags_health_check heapprofd_enabled_prop:file { open };
allow flags_health_check heapprofd_enabled_prop:file { map };
allow flags_health_check heapprofd_enabled_prop:file { getattr };
allow flags_health_check gsid_prop:file { open };
allow flags_health_check gsid_prop:file { map };
allow flags_health_check gsid_prop:file { getattr };
#allow flags_health_check firstboot_prop:file { open };
#allow flags_health_check firstboot_prop:file { map };
#allow flags_health_check firstboot_prop:file { getattr };
allow flags_health_check exported_wifi_prop:file { open };
allow flags_health_check exported_wifi_prop:file { map };
allow flags_health_check exported_wifi_prop:file { getattr };
allow flags_health_check exported_overlay_prop:file { open };
allow flags_health_check exported_overlay_prop:file { map };
allow flags_health_check exported_overlay_prop:file { getattr };
allow flags_health_check exported_bluetooth_prop:file { open };
allow flags_health_check exported_bluetooth_prop:file { map };
allow flags_health_check exported_bluetooth_prop:file { getattr };
allow flags_health_check exported_audio_prop:file { open };
allow flags_health_check exported_audio_prop:file { map };
allow flags_health_check exported_audio_prop:file { getattr };
allow flags_health_check dynamic_system_prop:file { open };
allow flags_health_check dynamic_system_prop:file { map };
allow flags_health_check dynamic_system_prop:file { getattr };
allow flags_health_check dumpstate_options_prop:file { open };
allow flags_health_check dumpstate_options_prop:file { map };
allow flags_health_check dumpstate_options_prop:file { getattr };
allow flags_health_check device_logging_prop:file { open };
allow flags_health_check device_logging_prop:file { map };
allow flags_health_check device_logging_prop:file { getattr };
allow flags_health_check ctl_stop_prop:file { open };
allow flags_health_check ctl_stop_prop:file { map };
allow flags_health_check ctl_stop_prop:file { getattr };
allow flags_health_check ctl_start_prop:file { open };
allow flags_health_check ctl_start_prop:file { map };
allow flags_health_check ctl_start_prop:file { getattr };
allow flags_health_check ctl_sigstop_prop:file { open };
allow flags_health_check ctl_sigstop_prop:file { map };
allow flags_health_check ctl_sigstop_prop:file { getattr };
allow flags_health_check ctl_dumpstate_prop:file { open };
allow flags_health_check ctl_dumpstate_prop:file { getattr };
allow flags_health_check ctl_default_prop:file { open };
allow flags_health_check ctl_default_prop:file { map };
allow flags_health_check ctl_default_prop:file { getattr };
allow flags_health_check ctl_console_prop:file { open };
allow flags_health_check ctl_console_prop:file { map };
allow flags_health_check ctl_console_prop:file { getattr };
allow flags_health_check ctl_bugreport_prop:file { open };
allow flags_health_check ctl_bugreport_prop:file { map };
allow flags_health_check ctl_bugreport_prop:file { getattr };
allow flags_health_check ctl_bootanim_prop:file { open };
allow flags_health_check ctl_bootanim_prop:file { map };
allow flags_health_check ctl_bootanim_prop:file { getattr };
allow flags_health_check ctl_adbd_prop:file { open };
allow flags_health_check ctl_adbd_prop:file { map };
allow flags_health_check ctl_adbd_prop:file { getattr };
allow flags_health_check cpu_variant_prop:file { open };
allow flags_health_check cpu_variant_prop:file { map };
allow flags_health_check cpu_variant_prop:file { getattr };
allow flags_health_check bt_prop:file { open };
allow flags_health_check bt_prop:file { map };
allow flags_health_check bt_prop:file { getattr };
allow flags_health_check bpf_progs_loaded_prop:file { open };
allow flags_health_check bpf_progs_loaded_prop:file { map };
allow flags_health_check bpf_progs_loaded_prop:file { getattr };
allow flags_health_check boottime_prop:file { open };
allow flags_health_check boottime_prop:file { map };
allow flags_health_check boottime_prop:file { getattr };
#allow flags_health_check bootloader_boot_reason_prop:file { open };
#allow flags_health_check bootloader_boot_reason_prop:file { map };
#allow flags_health_check bootloader_boot_reason_prop:file { getattr };
allow flags_health_check bluetooth_prop:file { open };
allow flags_health_check bluetooth_prop:file { map };
allow flags_health_check bluetooth_prop:file { getattr };
allow flags_health_check bluetooth_audio_hal_prop:file { open };
allow flags_health_check bluetooth_audio_hal_prop:file { map };
allow flags_health_check bluetooth_audio_hal_prop:file { getattr };
allow flags_health_check bluetooth_a2dp_offload_prop:file { open };
allow flags_health_check bluetooth_a2dp_offload_prop:file { map };
allow flags_health_check bluetooth_a2dp_offload_prop:file { getattr };
allow flags_health_check avc_prop:file { open };
allow flags_health_check avc_prop:file { map };
allow flags_health_check avc_prop:file { getattr };
allow flags_health_check apexd_prop:file { open };
allow flags_health_check apexd_prop:file { map };
allow flags_health_check apexd_prop:file { getattr };
#allow crash_dump vendor_overlay_file:file { read open };
allow aprd wificond:dir { search };
allow aprd wificond:file { open };
allow aprd wificond:file { getattr };
allow aprd wcnd:file { read };
allow aprd vdspserver:dir { search };
allow aprd vdspserver:file { open };
allow aprd vdspserver:file { getattr };
allow aprd thermald:dir { search };
allow aprd thermald:file { open };
allow aprd thermald:file { getattr };
allow aprd statsd:dir { search };
allow aprd statsd:file { open };
allow aprd statsd:file { getattr };
allow aprd srtd:dir { search };
allow aprd srtd:file { read };
allow aprd srtd:file { open };
allow aprd srtd:file { getattr };
allow aprd slogmodem_vendor:dir { search };
allow aprd slogmodem_vendor:file { open };
allow aprd slogmodem_vendor:file { getattr };
allow aprd slogmodem:dir { search };
allow aprd slogmodem:file { open };
allow aprd slogmodem:file { getattr };
allow aprd rild:dir { search };
allow aprd rild:file { open };
allow aprd rild:file { getattr };
allow aprd refnotify:dir { search };
allow aprd refnotify:file { read };
allow aprd refnotify:file { open };
allow aprd refnotify:file { getattr };
allow aprd phasecheckserver:dir { search };
allow aprd phasecheckserver:file { open };
allow aprd phasecheckserver:file { getattr };
allow aprd performancemanager:dir { search };
allow aprd performancemanager:file { open };
allow aprd performancemanager:file { getattr };
allow aprd netbox:dir { search };
allow aprd netbox:file { open };
allow aprd netbox:file { getattr };
allow aprd modemlog_connmgr_service:dir { search };
allow aprd modemlog_connmgr_service:file { open };
allow aprd modemlog_connmgr_service:file { getattr };
allow aprd modem_control:dir { search };
allow aprd modem_control:file { open };
allow aprd modem_control:file { getattr };
allow aprd mlogservice:dir { search };
allow aprd mlogservice:file { open };
allow aprd mlogservice:file { getattr };
allow aprd mediaswcodec:dir { search };
allow aprd mediaswcodec:file { read };
allow aprd mediaswcodec:file { open };
allow aprd mediaswcodec:file { getattr };
allow aprd mediaserver:dir { search };
allow aprd mediaserver:file { read };
allow aprd mediaserver:file { open };
allow aprd mediaserver:file { getattr };
allow aprd mediametrics:dir { search };
allow aprd mediametrics:file { open };
allow aprd mediametrics:file { getattr };
allow aprd mediaextractor:dir { search };
allow aprd mediaextractor:file { open };
allow aprd mediaextractor:file { getattr };
allow aprd mediadrmserver:dir { search };
allow aprd mediadrmserver:file { read };
allow aprd mediadrmserver:file { open };
allow aprd mediadrmserver:file { getattr };
allow aprd mediacodec:dir { search };
allow aprd mediacodec:file { open };
allow aprd mediacodec:file { getattr };
allow aprd log_service:dir { search };
allow aprd log_service:file { read };
allow aprd log_service:file { open };
allow aprd log_service:file { getattr };
allow aprd keystore:dir { search };
allow aprd keystore:file { open };
allow aprd keystore:file { getattr };
allow aprd installd:dir { search };
allow aprd installd:file { open };
allow aprd installd:file { getattr };
allow aprd incidentd:dir { search };
allow aprd incidentd:file { open };
allow aprd incidentd:file { getattr };
allow aprd ims_bridged:dir { search };
allow aprd ims_bridged:file { read };
allow aprd ims_bridged:file { open };
allow aprd ims_bridged:file { getattr };
allow aprd idmap:dir { search };
allow aprd idmap:file { open };
allow aprd idmap:file { getattr };
allow aprd hal_thermal_ext:dir { search };
allow aprd hal_thermal_ext:file { open };
allow aprd hal_thermal_ext:file { getattr };
allow aprd hal_log_default:dir { search };
allow aprd hal_log_default:file { open };
allow aprd hal_log_default:file { getattr };
allow aprd hal_imgnna_default:dir { search };
allow aprd hal_imgnna_default:file { open };
allow aprd hal_imgnna_default:file { getattr };
allow aprd hal_gnss_ext_default:dir { search };
allow aprd hal_gnss_ext_default:file { open };
allow aprd hal_gnss_ext_default:file { getattr };
allow aprd hal_fingerprintmmi_default:dir { search };
allow aprd hal_fingerprintmmi_default:file { open };
allow aprd hal_fingerprintmmi_default:file { getattr };
allow aprd hal_enhance_default:dir { search };
allow aprd hal_enhance_default:file { open };
allow aprd hal_enhance_default:file { getattr };
allow aprd hal_cplog_connmgr_default:dir { search };
allow aprd hal_cplog_connmgr_default:file { open };
allow aprd hal_cplog_connmgr_default:file { getattr };
allow aprd hal_aprd_default:dir { search };
allow aprd hal_aprd_default:file { read };
allow aprd hal_aprd_default:file { open };
allow aprd hal_aprd_default:file { getattr };
allow aprd gpuservice:dir { search };
allow aprd gpuservice:file { open };
allow aprd gpuservice:file { getattr };
allow aprd gpsd:dir { search };
allow aprd gpsd:file { open };
allow aprd gpsd:file { getattr };
allow aprd ext_data:dir { search };
allow aprd ext_data:file { open };
allow aprd ext_data:file { getattr };
allow aprd drmserver:dir { search };
allow aprd drmserver:file { read };
allow aprd drmserver:file { open };
allow aprd drmserver:file { getattr };
allow aprd cameraserver:dir { search };
allow aprd cameraserver:file { open };
allow aprd cameraserver:file { getattr };
allow aprd bootanim:dir { search };
allow aprd bootanim:file { open };
allow aprd bootanim:file { getattr };
allow aprd audioserver:dir { search };
allow aprd audioserver:file { open };
allow aprd audioserver:file { getattr };
allow aprd ashmemd:dir { search };
allow aprd ashmemd:file { open };
allow aprd ashmemd:file { getattr };
allow aprd adbd:dir { search };
allow aprd adbd:file { open };
allow aprd adbd:file { getattr };
allow adbd system_prop:property_service { set };
